
/*==// FONT */
@charset "utf-8";

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
         url('../fonts/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AvantGarde CE';
    src: url('../fonts/AvantGardeCE-Demi.eot');
    src: url('../fonts/AvantGardeCE-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvantGardeCE-Demi.woff2') format('woff2'),
        url('../fonts/AvantGardeCE-Demi.woff') format('woff'),
        url('../fonts/AvantGardeCE-Demi.ttf') format('truetype'),
        url('../fonts/AvantGardeCE-Demi.svg#AvantGardeCE-Demi') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff');
    font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
         url('../fonts/opensans-semibold.woff') format('woff');
    font-weight: normal;
   font-style: normal;
}


/*==// RESET */

* { margin: 0; padding: 0; outline: 0 !important; border: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
*:focus { outline: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }
ol, ul, li { display: block; list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
th, td, caption { font-weight: normal; vertical-align: central; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
sub, sup, small { font-size: 75%; }
sub, sup { line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: 10px; }
sup { top: 10px; }
svg { overflow: hidden; }
pre, code { font-family: monospace; }
hr { border: 0; border: 1px solid #eee; clear: both; }
blockquote { border-left: 1px solid #A5ABAB; margin: 15px; padding: 0 12px 0 12px; }
code { margin: 10px; }


/**/
.clr { clear: both; display: block; }
.cf:after, .cf:before { clear: both; content: ''; display: block; width: 100%; }

input, select, textarea { font-size:14px; color:#999999; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; border-radius: 4px; -webkit-border-radius: 4px; text-align: left; -o-box-sizing: border-box; border:2px solid #eaebed; -webkit-box-sizing: border-box; border: 0px; padding: 0 10px; width: 100%;	font-family: "Open Sans"; display:block;}
input, select {height:38px;}
textarea { resize: none; }
input[type=button], input[type=submit], .button { cursor: pointer; border-radius: 0px; -webkit-border-radius: 0px; border: 0; display: inline-block; 
	-webkit-appearance:none; -moz-appearance:none; -ms-appearance: none; appearance: none; transition: ease 0.2s; font-family: "Open Sans"; text-align:center; text-transform:uppercase; }
select { transition: 0.3; border: none; box-shadow: none; background-color: transparent; background-image: none; 
	-webkit-appearance: none; -moz-appearance: none; appearance: none; }
select:focus { outline: none; } 

::-webkit-input-placeholder { color: #000000; }
:-moz-placeholder { color: #000000; opacity: 1; }
::-moz-placeholder { color: #000000; opacity: 1; }
:-ms-input-placeholder { color: #000000; }

/**/
img { max-width: 100%; display: block; border: 0px; }
img a { border: none; }

/**/
a {text-decoration: none; border: none; transition: ease 0.2s; }
a:hover { text-decoration: none; }
::-moz-selection { background: #ff3bae; color: #fff; }
::selection { background: #ff3bae; color: #fff; }
::-webkit-selection { background: #ff3bae; color: #fff; }


body { background: #fff; font-family: 'open_sansregular'; font-size: 16px; color: #000000; direction: ltr;}
h1, h2 ,h3, h4, h5, h6 { }
.italic { font-style: italic; }

/*==// wrapper */
.maincontainer { width: 100%; margin:0px auto; overflow: hidden; padding:0px;}
.wrap { max-width: 1217px; margin: 0px auto; position: relative; padding:0px;}

/* Header */
.header {position:absolute; top:0px; left:0px; width:100%; z-index:999; background:#fff;}
.logo {float:left; padding:15px 0 0 0; width:191px;}
.hright {width:262px; float:right; border-radius:6px; border:2px solid #333333;}
.hright a {display:block; float:right; padding:10px 20px; font-size:14px; color:#000000; font-family: 'AvantGarde CE';}
.hright a:first-child { border-left:1px solid #000;}

.htop {background:#f5fefd; padding:13px 0;}
.htopleft {float:left; padding:4px 0 0 0; width:95px;}
.htopleft img {display:inline-block; vertical-align:top; margin:0 10px 0 0;}
.htopleft a {display:inline-block; vertical-align:top; font-size:14px; color:#000; vertical-align:bottom; font-family: 'AvantGarde CE';}

.htopright {float:right; width:190px;}
.htopright a { float:right;}
.htopright a.sta { padding:0 17px; line-height:31px; font-size:13px; color:#ffffff; font-family: 'open_sanssemibold'; border-radius:3px; -webkit-border-radius:3px; background:#cc3300; margin:0 0 0 18px;}
.htopright a.sg { line-height:31px; color:#000; font-size:14px; font-family: 'AvantGarde CE';}

.hbot { padding:33px 0;}
.hbotright {float:right; width:460px;}
.hbotright ul {display:block; margin:0px; padding:0px; float:right;}
.hbotright ul li {display:block; float:left; margin:0 28px 0 0;}
.hbotright ul li:last-child {margin:0px;}
.hbotright ul li a {font-family: 'AvantGarde CE'; font-size:16px; color:#000; font-family: 'AvantGarde CE'; text-transform:uppercase;}
.hbotright ul li a:hover { color:#cc3300;}

/* Home Page */
.home_banner {min-height:729px;}
.homebantext { padding:141px 0 0 0; width:500px;}
.homebantext h1 { font-size:34px; color:#000000; font-family: 'AvantGarde CE'; font-weight:normal; line-height:36px; margin:0 0 10px 0;}
.homebantext p { font-size:24px; line-height:36px;}
.bannerbut { padding:80px 0 0 0;}
.bannerbut a { background:url(../images/butarrow.png) no-repeat 88% center #cc3300; display:inline-block; vertical-align:top; padding:23px 42px 23px 27px; font-size:16px; color:#ffffff; line-height:16px; font-family: 'open_sanssemibold'; text-transform:uppercase; border-radius:5px; -webkit-border-radius:5px;}

.home_how { padding:85px 0 95px 0;}
.home_how h2 { text-align:center; font-size:16px; line-height:23px; font-weight:normal; margin:0 0 5px 0;}
.home_how h3 { text-align:center; font-size:39px; line-height:42px; font-weight:normal; font-family: 'AvantGarde CE'; margin:0 0 35px 0;}
.howboxes ul {text-align:center;}
.howboxes ul li {display:inline-block; vertical-align:top; width:149px; text-align:center; margin:0 7%;}
.boxnumber { border-radius:50%; -webkit-border-radius:50%; border:2px solid #cc3300; width:42px; height:42px; line-height:42px; margin:0 auto 13px auto; text-align:center; color:#cc3300; font-size:30px; font-family: 'AvantGarde CE';}
.boximg {width:143px; height:143px; line-height:143px; margin:0 auto; background:#cc3300; border-radius:50%; -webkit-border-radius:50%;} 
.boximg img { display:inline; max-height:143px; vertical-align:middle;}
.boxtext {padding:10px 0 0 0; line-height:23px;}

.home_doctor { min-height:554px;}
.home_docinner {padding:91px 0 30px 0;}
.home_docleft { float:left; padding:50px 0 0 0; width:474px;}
.home_docleft h4 { font-size:39px; line-height:42px; font-family: 'AvantGarde CE'; font-weight:normal; margin:0 0 32px 0;}
.home_docleft p { line-height:23px;}
.docform { padding:30px 0 0 0;}
.docform input.dftext {display:block; float:left; width:340px; border:1px solid #cccccc; border-radius:5px; -webkit-border-radius:5px; height:49px; background:#fff; padding:0 14px; color:#999999; font-size:14px; font-family: 'open_sansregular';} 
.docform input.dfsub { float:right; width:124px; background:#cc3300; color:#fff; font-size:16px; font-family: 'open_sansbold'; border-radius:5px; -webkit-border-radius:5px; height:49px;}
.docform p {margin:4px 0 0 0; color:#999999; font-size:14px;}
  
.docform input::-webkit-input-placeholder { color: #999999; }
.docform input:-moz-placeholder { color: #999999; opacity: 1; }
.docform input::-moz-placeholder { color: #999999; opacity: 1; }
.docform input:-ms-input-placeholder { color: #999999; }

.home_docright { float:right; width:581px;}
.hdrighttab {}
.hdrdetail { border:1px solid #cccccc; background:#fff; padding:24px 33px 14px 33px;}
.hdrighttab ul {display:block; margin:0px; padding:0px;}
.hdrighttab ul li {display:block; float:left; margin:0px 3px -1px 0;}
.hdrighttab ul li a { display:block; padding:10px 22px; font-size:16px; font-family: 'open_sansbold'; border-radius:5px 5px 0 0; background:#fff; border:1px solid #cccccc; color:#000; text-transform:uppercase; border-bottom:0px; position:relative;}
.hdrighttab ul li a:hover, .hdrighttab ul li a.selected { background:#cc3300; border:1px solid #cc3300; color:#fff; border-bottom:0px;}

.hdrdetail ul {display:block; margin:0px; padding:0px; font-size:0px;}
.hdrdetail ul li {display:block; display:inline-block; vertical-align:top; width:50%; margin:0 0 8px 0; font-size:16px; position:relative; padding:0 20px 0 42px;}
.hdrdetail ul li img {position:absolute; top:0px; left:0px;}

.home_affordable { padding:98px 0 90px 0;}
.haffleft {float:left; width:530px; padding:7px 0 0 0;}
.haffleft h3 { font-size:39px; line-height:42px; font-family: 'AvantGarde CE'; margin:0 0 30px 0;}
.haffleft p { line-height:23px;}
.haffbut { padding:30px 0 0 0;}
.haffbut a { display:inline-block; vertical-align:top; line-height:61px; background:#cc3300; color:#fff; padding:0 25px; border-radius:5px; -webkit-border-radius:5px;}

.haffright { float: right; width:548px;}
.afsmall1 {width:158px; padding:64px 0 0 0; float:left;}
.affboxsmall { border:3px solid #2873b8; border-radius:5px; -webkit-border-radius:5px;}
.afboxtitle { padding:6px 0; background:#468cc8; text-align:center; color:#fff; font-size:14px; font-family: 'open_sansbold';}
.affboxinner { padding:0 15px;}
.afdollar { padding:14px 0; font-size:51px; font-family: 'AvantGarde CE'; line-height:51px; border-bottom:1px solid #cccccc; text-align:center;}
.afdollar span {font-size:31px;}
.afboxlist { padding:18px 0 22px 0;}
.afboxlist ul {display:block; margin:0px; padding:0px;}
.afboxlist ul li {display:block; margin:0 0 8px 0; padding:0 15px 0 0; background:url(../images/bluecheck.png) no-repeat right top; font-size:12px;}

.afbig {float:left; width:214px; margin:0 9px;}
.affboxbig { border:3px solid #cc3300; border-radius:5px; -webkit-border-radius:5px;}
.afboxbtitle { padding:6px; background:#cc3300; text-align:center; color:#fff; font-size:18px; line-height:18px; font-family: 'open_sansbold';}
.affboxbinner { padding:0 20px;}
.afbdollar { padding:20px 0 30px 0; font-size:69px; font-family: 'AvantGarde CE'; line-height:69px; border-bottom:1px solid #cccccc; text-align:center;}
.afbdollar span { font-size:42px;}
.afbboxlist { padding:32px 0 77px 0;}
.afbboxlist ul {display:block; margin:0px; padding:0px;}
.afbboxlist ul li {display:block; margin:0 0 8px 0; padding:0 15px 0 0; background:url(../images/redcheck.png) no-repeat right top; font-size:12px;}

.afsmall2 {width:158px; padding:64px 0 0 0; float:left;}
.afsmall2 .afboxtitle { background:#9cb828;}
.afsmall2 .affboxsmall { border:3px solid #9cb828;}
.afsmall2 .afboxlist ul li {display:block; margin:0 0 8px 0; padding:0 15px 0 0; background:url(../images/greencheck.png) no-repeat right top; font-size:12px;}
 
.home_bottom { min-height:469px;}
.home_botinner { padding:82px 0 30px 0; max-width:810px; margin:0 auto;}
.home_botinner h4 { text-align:center; font-size:39px; color:#ffffff; font-family: 'AvantGarde CE'; font-weight:normal; margin:0 0 70px 0;}
.hbotlistleft { float:left; width:324px;}
.hbotlist ul {display:block; margin:0px; padding:0px;}
.hbotlist ul li {display:block; font-size:24px; color:#fff; text-transform:uppercase; padding:2px 30px 2px 4px; border-bottom:1px solid #c1a7ae; background:url(../images/arrowdown.png) no-repeat right center; font-family: 'open_sansbold';}
.hbotlistright {float:right; width:324px;}
.hbotlistright ul li {display:block; font-size:24px; color:#fff; text-transform:uppercase; padding:2px 4px 2px 30px; border-bottom:1px solid #c1a7ae; background:url(../images/arrowdownright.png) no-repeat left center; font-family: 'open_sansbold'; text-align:right;}

/* Footer */
.footer_top { background:#707070; padding:54px 0 59px 0;}
.ftopdiv {float:left;}
.fmenu {padding:0 15px 0 0; width:230px;}
.fpartner { width:294px;} 
.ftitle {font-size:22px; display:block; font-family: 'AvantGarde CE'; color:#fff; margin:0 0 8px 0;}
.fmenu ul {display:block; margin:0px; padding:0px;}
.fmenu ul li {display:block; margin:0 0 8px 0; padding:0px;}
.fmenu ul li a { font-size:16px; color:#cccccc;}
.fright {float:right; width:405px;}
.frightinner .ph {display:inline-block; vertical-align:top; background:url(../images/phicon.png) no-repeat left center; padding:0 0 0 38px; color:#cccccc; font-size:26px; margin:0 0 10px 0;}
.frightinner p {color:#cccccc; margin:0 0 10px 0;}
.reqbut { display:inline-block; vertical-align:top; background:#ffffff; color:#000; padding:0 27px; line-height:31px; border-radius:25px; -webkit-border-radius:25px;}

.footer_bottom {background:#595959; padding:24px 0; text-align:center;}
.copyright { color:#fff;}

/* Register One Page */
.hmenu {float:left; width:570px; padding:11px 0px 0 38px;}
.tglmenu {display:none;}
.hmenu ul {display:block; margin:0px; padding:0px;}
.hmenu ul li { float:left; display:block; margin:0 17px;}
.hmenu ul li a {font-family: 'AvantGarde CE'; font-size:18px; text-transform:uppercase; color:#000;}

/* --- Register One Page --- */
.innerheader { border-bottom:3px solid #9ea2a2;}
.inner_container { padding:265px 0 94px 0;}
.registterformone {max-width:945px; margin:0 auto;}
.regoneimg { float:left; width:318px;}
.regoneimg a {display:block;}
.regoneform { float:right; width:627px; border:1px solid #c5c5c5; padding:55px 75px 69px 78px;}
.regoneform h3 { margin:0 0 26px 0; font-size:28px; line-height:28px; font-family: 'AvantGarde CE';}
.regonefield { margin:0 0 29px 0;}
.regonefield input {height:32px; width:100%; color:#000; border-bottom:1px solid #999999; font-size:16px; padding:0px; font-family: 'open_sansregular';}
.regonesub {padding:19px 0 0 0; text-align:right;}
.regonesub a { height:51px; line-height:51px; border-radius:5px; -webkit-border-radius:5px; display:inline-block; padding:0 47px; text-transform:uppercase; font-size:16px;  font-family: 'open_sanssemibold'; background:#7c7c7c; color:#fff;}

/* --- Register Two Page --- */
.registterformtwo {max-width:945px; margin:0 auto;}
.regtwoimg { float:left; width:318px;}
.regtwoimg a {display:block;}
.regtwoform { float:right; width:627px; border:1px solid #c5c5c5; padding:55px 75px 69px 78px;}
.regtwoform h3 { margin:0 0 5px 0; font-size:28px; line-height:28px; font-family: 'AvantGarde CE';}
.regtwofield { margin:0 0 23px 0;}
.regtwofield label { display:block; font-size:16px; color:#7c7c7c; font-family: 'open_sansregular';}
.regtwofield input {height:32px; width:100%; color:#000; border-bottom:1px solid #999999; font-size:16px; padding:0px; font-family: 'open_sansregular';}
.regtwosub { float:right;}
.regtwosub input { height:51px; border-radius:5px; -webkit-border-radius:5px; display:inline-block; width:auto; padding:0 16px; text-transform:uppercase; font-size:16px;  font-family: 'open_sanssemibold'; background:#7c7c7c; color:#fff;}
.regtworadio { padding-bottom:19px; border-bottom:1px solid #999999; margin:0 0 15px 0;}
.radiodiv { display:inline-block; vertical-align:top; width:165px; padding:0 10px 0 0;} 
.radiodiv label {display: inline-block;	position: relative; padding:0 0 0 31px; font-size: 16px; font-family: 'open_sansregular';}
.radiodiv input[type=radio], .radiodiv input[type=checkbox] {display: none;}
.radiodiv label span {content: ""; display: inline-block;	width: 21px; height: 21px; position: absolute; left: 0;	background:url(../images/radiobut.png) no-repeat; cursor:pointer;}
.radiodiv input[type=radio]:checked + label span { background:url(../images/radiobutact.png) no-repeat;}
.regtworadio p { font-size:16px; color:#7c7c7c; margin:0 0 30px 0;}

.regchk {position:relative; padding:0 0 0 23px;}
.regchk input[type=checkbox] {display: none;}
.regchk input[type=checkbox] { width: auto; display: none; font-size:12px; }
.regchk input[type="checkbox"] + label span {content: ""; display: inline-block;	width: 18px; height: 18px; position: absolute; left: 0;	background:url(../images/checkbox.png) no-repeat; cursor:pointer;}
.regchk input[type="checkbox"]:checked + label span { background:url(../images/checkboxact.png) no-repeat;}
.regchk p {font-size:12px; color:#7c7c7c; line-height:18px;}
.regchk p a { color:#cc3300;} 
.regtwobot { padding:28px 0 0px 0;}
.regtwobot a.but {float:left; padding:14px 0 0 0; color:#000000;}

/* --- Register Three Page --- */
.registterformthree {max-width:945px; margin:0 auto;}
.regthreeimg { float:left; width:318px;}
.regthreeimg a {display:block;}
.regthreeform { float:right; width:627px; border:1px solid #c5c5c5; padding:244px 75px 69px 78px; min-height:616px; text-align:center;}
.regthreeform  p { font-size:28px; color:#000000; font-family: 'AvantGarde CE'; margin:0 0 5px 0;}
.regthreeform a {display:inline-block; background:#cc3300; line-height:51px; font-size:16px; color:#ffffff; padding:0 33px; border-radius:5px; -webkit-border-radius:5px; font-family: 'open_sanssemibold'; text-transform:uppercase;}
 
/*==========================================
	Responsive 
==========================================*/

@media only screen and (max-width:1230px) {
.wrap {padding:0 10px;}
.home_docright {width:50%;}
.haffleft {width:440px;}
.fmenu {width:18%;}
.fpartner {width:23%;}
}
@media only screen and (max-width:1023px) {
.home_docleft {width:450px;}
.docform input.dftext {width:305px;}	
.hdrighttab ul li a {font-size:14px;}
.haffleft {float:none; width:100%; padding:0 0 30px 0;}
.haffright {float:none; margin:0 auto;}
.fright {width:365px;}
.hmenu { width:490px;}
}
@media only screen and (max-width:979px) {
.howboxes ul li {margin:0 6%;}	
.home_docleft {float:none; width:100%; padding:0 0 20px 0;}
.docform input.dfsub {float:left; margin:0 0 0 10px;}
.home_docright {float:none; width:470px; margin:0 auto;}
.hbotlistleft {width:40%;}
.hbotlistright {width:40%;}
.home_botinner {padding:82px 10px 30px 10px;}
.fright {width:280px;}
.fpartner {width:27%;}
.registterformone, .registterformtwo, .registterformthree {padding:0 10px;}
.regoneimg, .regtwoimg, .regthreeimg {float:none; width:100%; text-align:center;}
.regoneimg a, .regtwoimg a, .regthreeimg a { display:inline-block;}
.regoneform, .regtwoform, .regthreeform {float:none; width:100%;}
.logo {padding:0px 0 10px 0; float:none; margin:0 auto;}
.hright {float:none; margin:0 auto;}
.hmenu { float:none; width:100%; padding:10px 0 20px 0; text-align:center;}
.hmenu ul li {float:none; display:inline-block; vertical-align:top; margin:0 5px;}
.header {padding:10px 0;}
}
@media only screen and (max-width:799px) {
.fmenu {float:none; width:100%; text-align:center; padding:0px 0 15px 0;}
.fpartner {width:100%;}
.fright {float:none; width:100%; text-align:center;}	
}
@media only screen and (max-width:767px) {
.home_banner {min-height:580px;}
.homebantext {max-width:500px; width:auto;}	
.howboxes ul li {margin:0 4%;}
}
@media only screen and (max-width:639px) {
.howboxes ul li {display:block; margin:0 auto 30px auto;}	
.haffright {width:100%;}
.afsmall1 {margin:0 auto; float:none; padding:0px;}
.afbig {float:none; margin:10px auto;}
.afsmall2 {float:none; margin:0 auto; padding:0px;}
.regoneform, .regtwoform, .regthreeform {padding:55px 20px; min-height:inherit;}
}
@media only screen and (max-width:500px) {
.hright a {padding:10px 12px;}
.hright {width:230px;}	
.home_docrigh {width:445px;}
.hdrdetail { padding:24px 20px 14px 20px;}
.home_botinner h4 {font-size:28px;}
.hbotlistleft {float:none; width:100%;}
.hbotlistright {float:none; width:100%;}
}
@media only screen and (max-width:479px) {
.homebantext h1 {font-size:22px; line-height:28px;}
.homebantext p {font-size:18px; line-height:28px;}
.bannerbut {padding:40px 0 0 0;}
.docform input.dftext {float:none;}
.docform input.dfsub {float:none; margin:10px auto; display:block;}
.docform p { background:rgba(255,255,255,0.7); color:#000; padding:0 10px;}
.hdrighttab ul li {float:none;}
.hdrdetail ul li {width:100%; padding:0 0px 0 42px; display:block;}
.home_docright {width:100%;}
.hmenu ul li a{font-size:14px;}
.hmenu ul li {margin:0 3px;}
.radiodiv {width:122px;}
.regthreeform a { padding:0 20px;}
}
